<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="t1000" class="impls.robot.ModelT1000"
          p:head-ref="toshibaHead"
          p:hand-ref="toshibaHand"
          p:leg-ref="sonyLeg"
    >
        <constructor-arg value="true" index="2" type="boolean"/>
        <constructor-arg value="silver" index="0" type="java.lang.String"/>
        <constructor-arg value="2006" index="1" type="int"/>
    </bean>

    <bean id="t1000Empty" class="impls.robot.ModelT1000">
        <property name="head" ref="toshibaHead"/>
        <property name="hand" ref="toshibaHand"/>
        <property name="leg" ref="toshibaLeg"/>
    </bean>

    <bean id="sonyHead" class="impls.sony.SonyHead"/>
    <bean id="sonyHand" class="impls.sony.SonyHand"/>
    <bean id="sonyLeg" class="impls.sony.SonyLeg"/>

    <bean id="toshibaHead" class="impls.toshiba.ToshibaHead"/>
    <bean id="toshibaHand" class="impls.toshiba.ToshibaHand"/>
    <bean id="toshibaLeg" class="impls.toshiba.ToshibaLeg"/>

</beans>